# ---------------------
# Build e IDEs
# ---------------------
HELP.md
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ---------------------
# Maven Wrapper
# ---------------------
!.mvn/wrapper/maven-wrapper.jar

# ---------------------
# STS (Spring Tool Suite)
# ---------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ---------------------
# IntelliJ IDEA
# ---------------------
.idea/
*.iws
*.iml
*.ipr
out/
# Arquivos de cache, configuração e workspace
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries/

# ---------------------
# NetBeans
# ---------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ---------------------
# VS Code
# ---------------------
.vscode/

# ---------------------
# Arquivos de ambiente (.env)
# ---------------------
.env
.env.*
.envrc
*.env.local
